//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
// stylelint-disable value-keyword-case

$font-family-sans-serif: 'Almarai', sans-serif;
$font-family-monospace: 'Almarai', sans-serif;

$primary: #4D44B5;
$theme-colors: (
  "info": #FB7D5B
);